/.qmake.stash
/auto_lib-*.c
/auto_version.c
/build/
/cscope.files
/cscope.out
/compiler-*.mak
/*-firmware.bin
/*-firmware
*-firmware-*.mak
/*-simulator
/*-simulator-*.mak
/*-simulator.app
/*-simulator.exe
/moc_*.cpp
/moc_*.h
/qrc_*.cpp
/newrpl-comp
/romentries.list
/tools-bin/elf2rom
/tools-bin/newrpl-comp
/tools/elf2rom/.qmake.stash
/tools/elf2rom/elf2rom
/tools/elf2rom/elf2rom.mak
/tools/elf2rom/elf2rom.o
/ui_mainwindow.h
/ui_qpaletteeditor.h
/ui_usbselector.h
/*.ROM
/*.elf
/**/.*
/tools-bin/bmp2font
/tools-bin/ttf2font
/tools/fonts/bmp2font/bmp2font
/tools/fonts/bmp2font/bmp2font.mak
/tools/fonts/bmp2font/main.o
/tools/fonts/ttf2font/ttf2font
/tools/fonts/ttf2font/ttf2font.mak
/tools/fonts/ttf2font/ttf2font.o
/tools/extractcmd/extractcmd.mak
/tools/extractcmd/main.o
/tools/extractcmd/extractcmd
/firmware/helpfile.inc
/bitmap/fonts/fontlist.h
